{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          Layout 
        {% endblock  %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
          {% tailwind_css %}
</head>
<body>
  <nav class='text-red-400 hover:text-green-600 cursor-pointer'> This is our About Page</nav>
{% block content %}Value{% endblock  %}

</body>
</html>